.mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color:red;
    color: white;
  }

.items{    
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    
}

.menu{
    top: 8px;
    left: 7px;
    position: absolute;
}

.topics{
    margin-left: -300px;
    transition: margin-left 3s cubic-bezier(.71,.8,1,.9) ;
}

.topics-movement{
    margin-left: 0
}

.topics:nth-child(1){
    
}